{% extends 'base.html.twig' %}

{%block title%} PROSTAGES - Stage n°{%endblock%}

{%block contenu%}
	<div class="row">
		<!-- OFFRE DE STAGE-->
		<div class="col-md-8 col-sm-12">
		Formations <br>
		
		Description <br> <br>
		
		sdfgrethdzqlkrfjgvs, ôzlqfd,vs qzsogdrm
	</div>
	
	<!-- INFORMATION DE L'ENTREPRISE-->
	<div class="col-md-4 col-sm-12">
		Entreprise <br>
		Nom <br>
		Adresse <br>
	</div>
	
	</div>


{%endblock%}